{% extends 'base.html' %}

{% block content %}

{% if db.id %}
    <h1 class="text-center">Database - View</h1>
{% else %}
    <h1 class="text-center">Database - Create</h1>
{% endif %}

<form method="POST" style="display: inline;">
    
    {% csrf_token %}
    {{form.as_p}}

<input class="btn btn-secondary" type="submit" value="Save">
</form>
{% if db.id %}
<a href="{% url 'documents:db_delete' db.id %}"><button class="btn btn-secondary">Delete</button></a>
<a href="{% url 'documents:db_update' db.id %}"><button class="btn btn-secondary">Reload</button></a>
<br><br>
<a href="{% url 'documents:db_create' %}"><button class="btn btn-secondary">Create New Database</button></a>
{% endif %}
<a href="{% url 'documents:db_list' %}"><button class="btn btn-secondary">List Databases</button></a>

{% endblock content %}
