{% extends 'base.html' %}

{% block content %}

{% if db.id %}
    <h1 class="text-center">Database - View</h1>
{% else %}
    <h1 class="text-center">Database - Create</h1>
{% endif %}

<form method="POST" style="display: inline;">
    
    {% csrf_token %}
    {{form.as_p}}

{% if db.id %}
<input id="save" class="not-visible btn btn-secondary" type="submit" value="Save">
{% else %}
<input class="btn btn-secondary" type="submit" value="Save">
{% endif %}

</form>

{% if db.id %}
<a href="{% url 'documents:db_delete' db.id %}"><button id="delete" class="btn btn-secondary">Delete</button></a>
<a href="{% url 'documents:db_update' db.id %}"><button id="reload" class="not-visible btn btn-secondary">Cancel</button></a>
{% endif %}

<data id="onlysave"></data>

{% endblock content %}
