{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<h1 class="text-center">Settings</h1>

<div class="mb-1"><label class="form-label">User Name</label>
<input type="text" value="{{user}}" readonly class="form-control"></div>

<form method="POST" style="display: inline;">

    {% csrf_token %}
    {% bootstrap_form form %}

    <input id="save" class="not-visible btn btn-secondary" type="submit" value="Save">
</form>
<a href="{% url 'documents:settings_update' user.id %}"><button id="reload" class="not-visible btn btn-secondary">Cancel</button></a>
<data id="delete"></data>
<data id="onlysave"></data>
{% endblock content %}
